<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Fitness Store - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="description" content=" FS | eCommerce">
    <meta name="keywords" content="FS, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
   @* <link href="~/img/favicon.ico" rel="shortcut icon" />*@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="~/AboutUs/css/AboutUs.css" />*@


    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">
                        <!-- logo -->
                        <a asp-action="Index" asp-controller="Home" class="site-logo">
                            <img src="~/img/logo2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <form asp-action="SearchProducts" asp-controller="Products" class="header-search-form">
                            <input name="term" id="searchBox" type="text" placeholder="Search for product ....">
                            <button><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            @{ var name = Context.User.Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
                                if (name != null)
                                {
                                    <div class="up-item">
                                        <i class="flaticon-profile"></i>
                                        <span>@name</span>
                                    </div>
                                    <div class="up-item">
                                        <div class="shopping-card">
                                            <i class="flaticon-bag"></i>
                                            @*<span>0</span>*@
                                        </div>
                                        <a asp-action="CartDetails" asp-controller="Carts">Shopping Cart</a> &nbsp; &nbsp;
                                    </div>
                                    <div class="up-item">
                                        <i class="flaticon-logout"></i>
                                        <a asp-action="LogOut" asp-controller="Accounts">Log Out</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="up-item">
                                        <i class="flaticon-profile"></i>
                                        <a asp-action="Login" asp-controller="Accounts">Sign In</a><span> or </span><a asp-action="Register" asp-controller="Accounts">Create Account</a>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li>
                        <a asp-action="Store" asp-controller="Categories" asp-route-id="1">Store</a>
                        <!--<ul class="sub-menu">-->
                        @*<li><a href="#">Outdoors and Camping</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Baby Essentials</a></li>
                            <li><a href="#">Convenience</a></li>
                            <li><a href="#">Sports Accessories</a></li>*@
                        <!--</ul>-->
                    </li>
                    <li><a asp-action="AboutUs" asp-controller="Home">About us</a></li>
                    <li><a asp-action="Contact" asp-controller="Contacts">Contact us</a></li>
                    @{ var role = Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;
                        if (role == "Admin")
                        {
                            <li><a asp-action="Tables" asp-controller="AdminPanels">Admin Panel</a></li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header section end -->

    @RenderBody()

    <!-- Footer section -->
    <section class="footer-section">
        <div class="container">
            <div class="footer-logo text-center">
                <a asp-action="Index" asp-controller="Home"><img src="~/img/logo-light2.png" alt=""></a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>RESEARCH AND DEVELOPMENT</h2>
                        <p>
                            With us, the customer is always at the heart of the work. In the spirit of this approach, we observe athletes during their activities and listen to them, so that our sales people, production managers, designers and engineers can imagine the products of tomorrow. Products that will contribute to the training, comfort, enjoyment and safety of end users. Thanks to the opinions of customers, we are able to continue to develop existing products or imagine future innovations.
                        </p>
                        <img src="~/img/cards.png" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>PRODUCT QUALITY</h2>
                        <p>For 40 years, our design and production teams have not compromised on quality! Together with professional focus groups we test the products in the labs before they go out to the stores. This process makes it possible to achieve the best quality control. Our main goal is to make the pursuit of sports easy, accessible and create an innovative and interesting experience through our products.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Like Our Facebook Page</h2>
                        <body>
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFitnessHuber&width=140&layout=button_count&action=like&size=large&share=true&height=46&locale=en_US&appId"
                                    width="155"
                                    height="46"
                                    style="border:none;overflow:hidden"
                                    scrolling="no"
                                    frameborder="0"
                                    allowTransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </body>
                    </div>
                </div>

            </div>
        </div>


    </section>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->


    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Products/search.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Cart/AddToCart.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
