
@{
    ViewData["Title"] = "AboutUs";
}

<link href="~/css/AboutUs.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR MISSION</h5>
        <p>
            <h3>
                Our goal is to make the sport as accessible to as many people as possible. We support and accompany you in your private sports experiences and strive to inspire diverse sports activities.
                We at Decathlon, believe that exercising and experiencing new and different sports, helps us maintain a healthy and proper lifestyle.
            </h3>
        </p>

        <h5 class="section-title h1">OUR VALUES</h5>
        <br/>
        <p>
            <h2>Vitality</h2>
            <h3>
                It is life and the driving force, it is intense activity, energy and vitality. Our staff members are full of vitality and energy, which they draw mostly from positive thinking. They are passionate, love to create and innovate, always striving to improve and bring about change.
            </h3>
            <h2>responsibility</h2>
            <h3>
                It is more than making decisions and implementing them. Our staff members take full responsibility for their decisions, both those related to their co-workers and those related to their clients. But responsibility has another meaning, is the ability to anticipate the challenges that will be posed to our company and steer our actions in the direction of sustainable development. In addition, we also have a responsibility to ensure the personal safety of our customers and staff around the world.
            </h3>
        </p>
        <br />
        <div class="container">
            <div style="text-align:center">
                <h3><b>We find the coolest products for you and centralize them on our website.</b></h3>
                <h3><b>For Example</b></h3>
                <br />
                <video width="640" height="360" controls>
                    <source src="https://www.youtube.com/watch?v=KEhbYNmY3N4" type="video/mp4">
                </video>
                <hr />
                <h3> Go check out the products on the site!</h3>
                <h3> </h3>
                <br />
            </div>
        </div>
        <br />
        <br />
    </div>

        <div class="row">
            <div class="text-center w-100 pt-3">
                <a href="/Contacts/Contact"<button class="site-btn sb-line sb-dark">CONTACT US</button></a>
            </div>
        </div>

</section>
<!-- Team -->
