
@{
    ViewData["Title"] = "AboutUs";
}

<link href="~/css/AboutUs.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">WHAT DO WE DO?</h5>
        <p>
            <h3>
                We deliver health and wellness products to people around the world.
                We offer the same reputable brands found at large national stores. 
                All products are sold and shipped by FitHub.
            </h3>
        </p>
        <br/> 
        <br/>
        <div class="container">
            <div style="text-align:center">
                <h3><b>We find the coolest products for you and centralize them on our website.</b></h3>
                <h3><b>For Example</b></h3>
                <br />
                <iframe width="640" height="360" controls="0"
            src="https://www.youtube.com/embed/KEhbYNmY3N4">
        </iframe>
              
                <hr />
                <h3> Go check out the products on the site!</h3>
                <h3> </h3>
                <br />
            </div>
        </div>
        <br />
        <br />
    </div>

        <div class="row">
            <div class="text-center w-100 pt-3">
                <a href="/Contacts/Contact"<button class="site-btn sb-line sb-dark">CONTACT US</button></a>
            </div>
        </div>

</section>
<!-- Team -->
